body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padded {
  padding: 10px;
}

.bordered {
  border-style: solid;
  border-width: thin;
  border-color: #cfd7dd;
  border-radius: 3px;
}

.ant-layout-header {
  color: aliceblue;
  font-size: xxx-large;
  font-weight: bold;
}

.ant-layout-content {
  min-height: calc(100vh - 134px)
}

.ant-layout-footer {
  background-color: #4791a7;
}

.contentHeader {
  height: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

